body{
    margin: 0;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 400px;
}

button{
    background-color: rgb(116, 175, 26);
    margin-top: 5px;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(116, 175, 26);
    font-weight: bold;
}
#delete-btn{
    background-color: white;
    margin-top: 5px;
    color: rgb(116, 175, 26);
    padding: 10px 20px;
    border-color: black;
    font-weight: bold;
}
input{
    width: 100%; /* 100% + 10px + 10px */
    height: 35px;
    padding:  0px 10px 0px 10px ;
    box-sizing: border-box;
} 

ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
li a{
    color: rgb(116, 175, 26); 
    
}